#yellow{
            border: 3px solid green;
/* 			border-top-width: 3px; */
            background-color: yellow;
        }
        #red{
            border: 3px solid black;
            background-color: red;
        }
        #green{
            border: 3px solid yellow;
            background-color: green;
        }